name: device_auto_rotate
description: A minimal plugin to check system auto-rotate settings.
version: 0.0.1
publish_to: 'none'

environment:
  sdk: ^3.8.0
  flutter: ^3.19.0

flutter:
  plugin:
    platforms:
      android:
        package: com.webtrit.device_auto_rotate
        pluginClass: DeviceAutoRotatePlugin

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_lints: ^6.0.0
  flutter_test:
    sdk: flutter
