<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webtrit.app">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application>
        <receiver
            android:name="com.webtrit.callkeep.services.receivers.IncomingCallSmsTriggerReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
