name: webtrit_phone
description: WebTrit Phone application.
publish_to: 'none'
# Version format: <Major>.<Minor>.<Patch>[-<Pre-release>]+<Build>
# Where:
#   - <Major>, <Minor>, <Patch>: non-negative integers, decided by the developer
#   - <Pre-release>: optional, series of dot-separated identifiers, decided by the developer
#   - <Build>: non-negative integer computed as follows:
#       <Major> * 1000000 + <Minor> * 10000 + <Patch> * 100 + <published build iteration for Major.Minor.Patch combination>
# Note: <Minor>, <Patch>, and <Build> should be within the range of 0 to 99.
version: 1.1.0+1010000

environment:
  sdk: '>=3.3.0 <4.0.0'
  flutter: ^3.19.0

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  auto_route: ^7.8.4
  bloc: ^8.1.4
  bloc_concurrency: ^0.2.5
  characters: ^1.3.0
  clock: ^1.1.1
  connectivity_plus: ^6.0.3
  cross_file: ^0.3.3
  device_info_plus: ^10.1.0
  equatable: ^2.0.5
  firebase_analytics: ^10.10.5
  firebase_app_installations: ^0.2.5+5
  firebase_core: ^2.31.0
  firebase_crashlytics: ^3.5.5
  firebase_messaging: ^14.9.2
  flutter_bloc: ^8.1.5
  flutter_contacts: ^1.1.7
  flutter_dtmf: ^3.0.2
  flutter_secure_storage: ^9.2.2
  flutter_svg: ^2.0.10+1
  flutter_webrtc:
    git:
      url: https://github.com/WebTrit/flutter-webrtc.git
      ref: main_ext
  formz: ^0.7.0
  freezed_annotation: ^2.4.1
  google_fonts: ^6.2.1
  intl: any
  json_annotation: ^4.8.1
  soundpool: ^2.4.1
  just_audio: ^0.9.37
  linkify: ^5.0.0
  logging: ^1.2.0
  logging_appenders: ^1.2.0
  material_color_utilities: any
  meta: any
  package_info_plus: ^8.0.0
  path: ^1.8.3
  path_provider: ^2.1.3
  permission_handler: ^11.3.1
  phoenix_socket: ^0.7.4
  provider: ^6.1.2
  pub_semver: ^2.1.4
  share_plus: ^9.0.0
  shared_preferences: ^2.2.3
  stream_transform: ^2.1.0
  url_launcher: ^6.2.6
  uuid: ^4.2.2
  validators: ^3.0.0
  webview_flutter: ^4.7.0
  webview_flutter_web: ^0.2.2+4
  flutter_chat_ui:
    git:
      url: https://github.com/WebTrit/flutter_chat_ui.git
      ref: main
  flutter_chat_types: ^3.6.2

  webtrit_api:
    path: ./packages/webtrit_api
  webtrit_phone_number:
    path: ./packages/webtrit_phone_number
  webtrit_signaling:
    path: ./packages/webtrit_signaling
  webtrit_callkeep:
    path: ../webtrit_callkeep/webtrit_callkeep
  store_info_extractor:
    path: ./packages/store_info_extractor
  ssl_certificates:
    path: ./packages/ssl_certificates

  app_database:
    path: ./packages/data/app_database

dev_dependencies:
  integration_test:
    sdk: flutter
  flutter_driver:
    sdk: flutter
  flutter_test:
    sdk: flutter

  auto_route_generator: ^7.3.2
  bloc_test: ^9.1.7
  build_runner: ^2.4.9
  flutter_gen_runner: ^5.4.0
  flutter_launcher_icons:
    git: https://github.com/fluttercommunity/flutter_launcher_icons.git
  flutter_lints: ^4.0.0
  flutter_native_splash: ^2.4.0
  freezed: ^2.5.2
  json_serializable: ^6.7.1
  version_gen:
    git:
      url: https://github.com/SERDUN/version_gen.git

flutter:
  generate: true
  uses-material-design: true

  assets:
    - assets/
    - assets/callkeep/
    - assets/login/
    - assets/ringtones/
    - assets/themes/
    - assets/certificates/

flutter_gen:
  output: lib/app/
  integrations:
    flutter_svg: true
    flare_flutter: true
