name: webtrit_phone
description: WebTrit Phone application.
publish_to: 'none'
# Version format: <Major>.<Minor>.<Patch>[-<Pre-release>]+<Build>
# Where:
#   - <Major>, <Minor>, <Patch>: non-negative integers, decided by the developer
#   - <Pre-release>: optional, series of dot-separated identifiers, decided by the developer
#   - <Build>: non-negative integer computed as follows:
#       <Major> * 1000000 + <Minor> * 10000 + <Patch> * 100 + <published build iteration for Major.Minor.Patch combination>
# Note: <Minor>, <Patch>, and <Build> should be within the range of 0 to 99.
version: 1.1.0+1010000

environment:
  sdk: '>=3.3.0 <4.0.0'
  flutter: ^3.19.0

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  auto_route: ^7.8.4
  bloc: ^8.1.3
  bloc_concurrency: ^0.2.4
  characters: ^1.3.0
  clock: ^1.1.1
  connectivity_plus: ^5.0.2
  cross_file: ^0.3.3
  device_info_plus: ^9.1.2
  equatable: ^2.0.5
  firebase_analytics: ^10.8.8
  firebase_app_installations: ^0.2.4+16
  firebase_app_installations_web: ^0.1.5+1
  firebase_core: ^2.26.0
  firebase_crashlytics: ^3.4.17
  firebase_messaging: ^14.7.18
  flutter_bloc: ^8.1.4
  flutter_contacts: ^1.1.7
  flutter_secure_storage: ^9.0.0
  flutter_svg: ^2.0.9
  flutter_webrtc:
    git:
      url: https://github.com/WebTrit/flutter-webrtc.git
      ref: main_ext
  formz: ^0.6.1
  freezed_annotation: ^2.4.1
  google_fonts: ^6.1.0
  intl: any
  json_annotation: ^4.8.1
  soundpool: ^2.4.1
  linkify: ^5.0.0
  logging: ^1.2.0
  logging_appenders: ^1.2.0
  material_color_utilities: any
  meta: any
  package_info_plus: ^7.0.0
  path: ^1.8.3
  path_provider: ^2.1.2
  permission_handler: ^11.3.0
  provider: ^6.1.1
  pub_semver: ^2.1.4
  share_plus: ^7.2.2
  shared_preferences: ^2.2.2
  stream_transform: ^2.1.0
  url_launcher: ^6.2.4
  uuid: ^4.2.2
  validators: ^3.0.0
  webview_flutter: ^4.7.0
  webview_flutter_web: ^0.2.2+4

  webtrit_api:
    path: ./packages/webtrit_api
  webtrit_phone_number:
    path: ./packages/webtrit_phone_number
  webtrit_signaling:
    path: ./packages/webtrit_signaling
  webtrit_callkeep:
    path: ../webtrit_callkeep/webtrit_callkeep
  store_info_extractor:
    path: ./packages/store_info_extractor

  app_database:
    path: ./packages/data/app_database

dev_dependencies:
  integration_test:
    sdk: flutter
  flutter_driver:
    sdk: flutter
  flutter_test:
    sdk: flutter

  auto_route_generator: ^7.3.2
  bloc_test: ^9.1.6
  build_runner: ^2.4.8
  flutter_gen_runner: ^5.4.0
  flutter_launcher_icons:
    git: https://github.com/fluttercommunity/flutter_launcher_icons.git
  flutter_lints: ^3.0.1
  flutter_native_splash: ^2.3.10
  freezed: ^2.4.7
  json_serializable: ^6.7.1
  version_gen:
    git:
      url: https://github.com/SERDUN/version_gen.git


flutter:
  generate: true
  uses-material-design: true

  assets:
    - assets/
    - assets/callkeep/
    - assets/login/
    - assets/ringtones/
    - assets/themes/
    - assets/certificates/

flutter_gen:
  output: lib/app/
  integrations:
    flutter_svg: true
    flare_flutter: true

version_gen:
  path: lib/app/
  version-spec: app_version.yaml
