name: webtrit_phone
description: WebTrit Phone application.
publish_to: 'none'
version: 0.1.0+5

environment:
  sdk: ">=2.15.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  bloc: ^7.2.1
  bloc_concurrency: ^0.1.0
  callkeep: ^0.3.2
  collection: ^1.14.13
  device_info: ^2.0.3
  dio: ^4.0.4
  drift: ^1.1.0
  equatable: ^2.0.2
  firebase_core: ^1.10.5
  firebase_messaging: ^11.2.3
  flutter_bloc: ^7.3.1
  flutter_contacts: ^1.1.1
  flutter_secure_storage: ^5.0.2
  flutter_svg: ^1.0.0
  flutter_webrtc: ^0.8.0
  formz: ^0.4.1
  intl: ^0.17.0
  just_audio: ^0.9.18
  logging: ^1.0.2
  logging_appenders: ^1.0.0
  meta: ^1.3.0
  package_info_plus: ^1.3.0
  path: ^1.8.0
  path_provider: ^2.0.8
  permission_handler: ^8.3.0
  provider: ^6.0.1
  rxdart: ^0.27.3
  share_plus: ^3.0.4
  sqlite3_flutter_libs: ^0.5.2
  webview_flutter: ^3.0.0

  webtrit_api:
    path: ./packages/webtrit_api
  webtrit_signaling:
    path: ./packages/webtrit_signaling

dev_dependencies:
  flutter_test:
    sdk: flutter

  bloc_test: ^8.3.0
  build_runner: ^2.1.5
  drift_dev: ^1.1.0
  flutter_gen_runner: ^4.1.2
  flutter_launcher_icons: ^0.9.2
  flutter_lints: ^1.0.4

flutter:
  generate: true
  uses-material-design: true

  assets:
    - assets/logo.svg

flutter_gen:
  integrations:
    flutter_svg: true
    flare_flutter: true

flutter_icons:
  android: true
  ios: true
  adaptive_icon_background: assets/launcher_icons/ic_background.png
  adaptive_icon_foreground: assets/launcher_icons/ic_foreground.png
  image_path_android: assets/launcher_icons/android.png
  image_path_ios: assets/launcher_icons/ios.png
