name: webtrit_phone
description: WebTrit Phone application.
publish_to: 'none'
# Version format: <Major>.<Minor>.<Patch>[-<Pre-release>]+<Build>
# Where:
#   - <Major>, <Minor>, <Patch>: non-negative integers, decided by the developer
#   - <Pre-release>: optional, series of dot-separated identifiers, decided by the developer
#   - <Build>: non-negative integer computed as follows:
#       <Major> * 1000000 + <Minor> * 10000 + <Patch> * 100 + <published build iteration for Major.Minor.Patch combination>
# Note: <Minor>, <Patch>, and <Build> should be within the range of 0 to 99.
version: 1.1.0+1010000

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ^3.13.0

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  audio_session: ^0.1.16
  bloc: ^8.1.2
  bloc_concurrency: ^0.2.2
  characters: ^1.3.0
  clock: ^1.1.0
  connectivity_plus: ^4.0.2
  cross_file: ^0.3.3
  device_info_plus: ^9.0.1
  equatable: ^2.0.5
  firebase_analytics: ^10.4.5
  firebase_app_installations: ^0.2.3
  firebase_core: ^2.15.1
  firebase_crashlytics: ^3.3.5
  firebase_messaging: ^14.6.6
  flutter_bloc: ^8.1.3
  flutter_contacts: ^1.1.7
  flutter_secure_storage: ^8.0.0
  flutter_svg: ^2.0.7
  flutter_webrtc:
    git:
      url: https://github.com/WebTrit/flutter-webrtc.git
      ref: main_ext
  formz: ^0.6.0
  freezed_annotation: ^2.4.1
  go_router: ^10.1.0
  google_fonts: ^5.1.0
  intl: any
  just_audio: ^0.9.33
  linkify: ^5.0.0
  logging: ^1.2.0
  logging_appenders: ^1.2.0
  material_color_utilities: any
  meta: ^1.9.1
  package_info_plus: ^4.1.0
  path: ^1.8.3
  path_provider: ^2.1.0
  permission_handler: ^10.4.3
  permission_handler_web: ^0.0.2
  provider: ^6.0.5
  pub_semver: ^2.1.4
  share_plus: ^7.1.0
  shared_preferences: ^2.2.0
  stream_transform: ^2.1.0
  url_launcher: ^6.1.12
  uuid: ^3.0.7
  validators: ^3.0.0
  webview_flutter: ^4.2.2
  webview_flutter_web: ^0.2.2+1

  webtrit_api:
    path: ./packages/webtrit_api
  webtrit_phone_number:
    path: ./packages/webtrit_phone_number
  webtrit_signaling:
    path: ./packages/webtrit_signaling
  webtrit_callkeep:
    path: ./packages/webtrit_callkeep
  store_info_extractor:
    path: ./packages/store_info_extractor

  app_database:
    path: ./packages/data/app_database

dev_dependencies:
  integration_test:
    sdk: flutter
  flutter_driver:
    sdk: flutter
  flutter_test:
    sdk: flutter

  bloc_test: ^9.1.4
  build_runner: ^2.4.6
  flutter_gen_runner: ^5.3.1
  flutter_launcher_icons: ^0.13.1
  flutter_lints: ^2.0.2
  flutter_native_splash: ^2.3.2
  freezed: ^2.4.1

flutter:
  generate: true
  uses-material-design: true

  assets:
    - assets/
    - assets/callkeep/
    - assets/login/
    - assets/ringtones/
    - assets/style/

flutter_gen:
  output: lib/app/
  integrations:
    flutter_svg: true
    flare_flutter: true
