name: webtrit_phone
description: WebTrit Phone application.
publish_to: 'none'
version: 1.1.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ^3.10.0

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  audio_session: ^0.1.14
  bloc: ^8.1.2
  bloc_concurrency: ^0.2.2
  characters: ^1.3.0
  clock: ^1.1.0
  collection: ^1.17.1
  connectivity_plus: ^4.0.1
  cross_file: ^0.3.3
  device_info_plus: ^9.0.1
  equatable: ^2.0.5
  firebase_analytics: ^10.4.1
  firebase_app_installations: ^0.2.3
  firebase_core: ^2.13.0
  firebase_crashlytics: ^3.3.1
  firebase_messaging: ^14.6.1
  flutter_bloc: ^8.1.3
  flutter_contacts: ^1.1.6
  flutter_secure_storage: ^8.0.0
  flutter_svg: ^2.0.6
  flutter_webrtc: ^0.9.30
  formz: ^0.6.0
  freezed_annotation: ^2.2.0
  go_router: ^7.0.2
  google_fonts: ^4.0.4
  intl: ^0.18.0
  just_audio: ^0.9.33
  linkify: ^5.0.0
  logging: ^1.1.0
  logging_appenders: ^1.0.2
  material_color_utilities: ^0.2.0
  meta: ^1.9.1
  package_info_plus: ^4.0.1
  path: ^1.8.3
  path_provider: ^2.0.15
  permission_handler: ^10.2.0
  permission_handler_web: ^0.0.2
  provider: ^6.0.5
  pub_semver: ^2.1.4
  rxdart: ^0.27.7
  share_plus: ^7.0.1
  shared_preferences: ^2.1.1
  url_launcher: ^6.1.11
  uuid: ^3.0.7
  validators: ^3.0.0
  webview_flutter: ^4.2.0
  webview_flutter_web: ^0.2.2+1

  webtrit_api:
    path: ./packages/webtrit_api
  webtrit_phone_number:
    path: ./packages/webtrit_phone_number
  webtrit_signaling:
    path: ./packages/webtrit_signaling
  webtrit_callkeep:
    path: ./packages/webtrit_callkeep
  store_info_extractor:
    path: ./packages/store_info_extractor
  webtrit_overlay_floating:
    path: ./packages/webtrit_overlay_floating

  app_database:
    path: ./packages/data/app_database

dev_dependencies:
  integration_test:
    sdk: flutter
  flutter_driver:
    sdk: flutter
  flutter_test:
    sdk: flutter

  bloc_test: ^9.1.2
  build_runner: ^2.4.4
  flutter_gen_runner: ^5.3.1
  flutter_launcher_icons: ^0.13.1
  flutter_lints: ^2.0.1
  freezed: ^2.3.4

flutter:
  generate: true
  uses-material-design: true

  assets:
    - assets/logo.svg
    - assets/logoIconTemplateImage.png
    - assets/login/
    - assets/ringtones/

flutter_gen:
  output: lib/app/
  integrations:
    flutter_svg: true
    flare_flutter: true

flutter_icons:
  android: true
  ios: true
  adaptive_icon_background: assets/launcher_icons/ic_background.png
  adaptive_icon_foreground: assets/launcher_icons/ic_foreground.png
  image_path_android: assets/launcher_icons/android.png
  image_path_ios: assets/launcher_icons/ios.png
  web:
    generate: true
    image_path: "assets/launcher_icons/web.png"
    background_color: "#FFFFFF"
    theme_color: "#F3F5F6"
