name: webtrit_phone
description: WebTrit Phone application.
publish_to: 'none'
# Version format: <Major>.<Minor>.<Patch>[-<Pre-release>]+<Build>
# Where:
#   - <Major>, <Minor>, <Patch>: non-negative integers, decided by the developer
#   - <Pre-release>: optional, series of dot-separated identifiers, decided by the developer
#   - <Build>: non-negative integer computed as follows:
#       <Major> * 1000000 + <Minor> * 10000 + <Patch> * 100 + <published build iteration for Major.Minor.Patch combination>
# Note: <Minor>, <Patch>, and <Build> should be within the range of 0 to 99.
version: 0.0.0+000000000

# Version format for app_version: <Major>.<Minor>.<Patch>
# Where:
#   - <Major>, <Minor>, <Patch>: non-negative integers, decided by the developer
# app_version represents tasks and fixed bugs, which is different from the build version that is specific to each client
app_version: 1.11.0+2

environment:
  sdk: ^3.8.0
  flutter: ^3.19.0

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  auto_route: ^10.2.0
  bloc: ^9.1.0
  bloc_concurrency: ^0.3.0
  characters: ^1.4.0
  clock: ^1.1.2
  connectivity_plus: ^7.0.0
  cross_file: ^0.3.5
  device_info_plus: ^12.2.0
  equatable: ^2.0.7
  firebase_analytics: ^12.0.4
  firebase_app_installations: ^0.4.0+4
  firebase_core: ^4.2.1
  firebase_crashlytics: ^5.0.4
  firebase_messaging: ^16.0.4
  firebase_remote_config: ^6.1.1
  flutter_bloc: ^9.1.1
  flutter_contacts: ^1.1.9+2
  flutter_secure_storage: ^9.2.4
  flutter_svg: ^2.2.2
  flutter_webrtc:
    git:
      url: https://github.com/WebTrit/flutter-webrtc.git
      ref: main_ext_rebase_10.07.25
  formz: ^0.8.0
  freezed_annotation: ^3.1.0
  google_fonts: ^6.3.2
  intl: any
  json_annotation: ^4.9.0
  just_audio: ^0.10.5
  linkify: ^5.0.0
  logging: ^1.3.0
  logging_appenders: ^1.4.0+1
  material_color_utilities: any
  meta: any
  package_info_plus: ^9.0.0
  path: ^1.9.1
  path_provider: ^2.1.5
  permission_handler: ^12.0.1
  phoenix_socket: ^0.8.0
  provider: ^6.1.5+1
  pub_semver: ^2.2.0
  sdp_transform: ^0.3.2
  share_plus: ^12.0.1
  shared_preferences: ^2.5.3
  stream_transform: ^2.1.1
  url_launcher: ^6.3.2
  uuid: ^4.5.2
  validators: ^3.0.0
  webview_flutter: ^4.13.0
  webview_flutter_web: ^0.2.3+4
  collection: ^1.19.1
  quiver: ^3.2.2
  flutter_parsed_text: ^2.2.1
  flutter_local_notifications: ^19.5.0
  gravatar_utils: ^1.0.0
  dlibphonenumber: ^1.1.51
  device_region: ^1.4.0
  html: ^0.15.6
  http: ^1.5.0
  audio_session: ^0.2.2
  bloc_test: ^10.0.0
  workmanager: ^0.9.0+3
  country_code_picker: ^3.4.1
  icon_decoration: ^2.1.0
  emoji_picker_flutter: ^4.3.0

  webtrit_api:
    path: ./packages/webtrit_api
  webtrit_phone_number:
    path: ./packages/webtrit_phone_number
  webtrit_signaling:
    path: ./packages/webtrit_signaling
  webtrit_callkeep:
    path: ../webtrit_callkeep/webtrit_callkeep
  store_info_extractor:
    path: ./packages/store_info_extractor
  ssl_certificates:
    path: ./packages/ssl_certificates
  app_database:
    path: ./packages/data/app_database
  webtrit_appearance_theme:
    path: ./packages/webtrit_appearance_theme

dev_dependencies:
  integration_test:
    sdk: flutter
  flutter_driver:
    sdk: flutter
  flutter_test:
    sdk: flutter

  auto_route_generator: ^10.2.5
  l10n_mapper_generator: ^2.2.0
  build_runner: ^2.7.1
  flutter_gen_runner: ^5.12.0
  flutter_launcher_icons: ^0.14.4
  flutter_lints: ^6.0.0
  flutter_native_splash: ^2.4.7
  freezed: ^3.2.3
  json_serializable: ^6.11.1
  patrol: ^3.19.0
  mocktail: ^1.0.4

flutter:
  generate: true
  uses-material-design: true

  assets:
    - pubspec.yaml
    - assets/images/
    - assets/callkeep/
    - assets/login/
    - assets/ringtones/
    - assets/themes/
    - assets/certificates/

flutter_gen:
  output: lib/app/
  integrations:
    flutter_svg: true

patrol:
  app_name: Webtrit
  android:
    package_name: com.webtrit.app
  ios:
    bundle_id: com.webtrit.app