name: webtrit_phone
description: WebTrit Phone application.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 0.1.0+5

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  bloc: ^7.2.1
  bloc_concurrency: ^0.1.0
  callkeep: ^0.3.2
  collection: ^1.14.13
  device_info: ^2.0.3
  dio: ^4.0.4
  drift: ^1.0.1
  enum_to_string: ^2.0.1
  equatable: ^2.0.2
  firebase_core: ^1.10.0
  firebase_messaging: ^11.1.0
  flutter_bloc: ^7.3.1
  flutter_contacts: ^1.1.1
  flutter_secure_storage: ^5.0.2
  flutter_svg: ^0.23.0
  flutter_webrtc: ^0.7.1
  formz: ^0.4.1
  intl: ^0.17.0
  logging: ^1.0.2
  logging_appenders: ^1.0.0
  meta: ^1.3.0
  package_info_plus: ^1.3.0
  path: ^1.8.0
  path_provider: ^2.0.7
  permission_handler: ^8.3.0
  provider: ^6.0.1
  rxdart: ^0.27.3
  share_plus: ^3.0.4
  sqlite3_flutter_libs: ^0.5.0
  webview_flutter: ^2.3.1

  webtrit_api:
    path: ./packages/webtrit_api
  webtrit_signaling:
    path: ./packages/webtrit_signaling

dev_dependencies:
  flutter_test:
    sdk: flutter

  bloc_test: ^8.3.0
  build_runner: ^2.1.5
  drift_dev: ^1.0.2
  flutter_gen_runner: ^4.1.2
  flutter_launcher_icons: ^0.9.2
  flutter_lints: ^1.0.4


# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  generate: true

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg
  assets:
    - assets/logo.svg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages

flutter_gen:
  integrations:
    flutter_svg: true
    flare_flutter: true

flutter_icons:
  android: true
  ios: true
  adaptive_icon_background: assets/launcher_icons/ic_background.png
  adaptive_icon_foreground: assets/launcher_icons/ic_foreground.png
  image_path_android: assets/launcher_icons/android.png
  image_path_ios: assets/launcher_icons/ios.png
