<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".MainActivity">
            <meta-data
                android:name="flutter_deeplinking_enabled"
                android:value="true" />
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="@string/APP_LINK_DOMAIN" />
            </intent-filter>
        </activity>
    </application>
</manifest>
