<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567844538132-h0i62s0ficqfi6mrdkfbhk6r1hs9f0f4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567844538132-h0i62s0ficqfi6mrdkfbhk6r1hs9f0f4</string>
	<key>API_KEY</key>
	<string>AIzaSyB6MTtyeYb1XZPU_QMBKJ2YtAWWbLT4we8</string>
	<key>GCM_SENDER_ID</key>
	<string>567844538132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webtrit.phone</string>
	<key>PROJECT_ID</key>
	<string>webtrit-voip-softphone</string>
	<key>STORAGE_BUCKET</key>
	<string>webtrit-voip-softphone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567844538132:ios:26faa97ce9115a16162401</string>
</dict>
</plist>