<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZaWwo442CxXQSo48WCcl3mtZnu1OJkxA</string>
	<key>GCM_SENDER_ID</key>
	<string>946197765717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nashua.phone.T1710696431</string>
	<key>PROJECT_ID</key>
	<string>nashua-otg</string>
	<key>STORAGE_BUCKET</key>
	<string>nashua-otg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946197765717:ios:ee81c0c7e2650a6793fedc</string>
</dict>
</plist>